<html>
  <head>
    <title>ArcGISRuntime Server</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="/static/favicon.png" type="image/png" />
    <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/mars.css" rel="stylesheet" type="text/css"/>
    <script src="/static/scripts/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="/static/scripts/underscore-min.js" type="text/javascript"></script>
    <script src="/static/scripts/jquery.tmpl.js" type="text/javascript"></script>
    <script src="/static/scripts/mars.js" type="text/javascript"></script>
  </head>
  <body>
  
    <!-- script to generate dynamic content -->
    <script type="text/javascript">
      jQuery(function () {

        insertHeader(null);
        
        myGetJson(
          "?f=formmeta",
          function (data) {
            $("#tcontent").tmpl(data).appendTo("#content");
          },
          function (jqXHR, textStatus, errorThrown) {
            $("#content").empty().append("<div class='jsonError'>" + textStatus + " " + errorThrown + "</div>");
          });
      });
    </script>

    <!-- form template -->
    <script id="tcontent" type="text/x-jquery-tmpl">
      <h2>${title}</h2>
      <form class='aligned' method='post' enctype='${enctype}' action='${action}'>

        {{each(idx, f) fields}}

          {{if f.type != "hidden"}}
            <label for='id_${f.name}'>{{html f.label}}</label>
          {{/if}}

          {{if f.type == "select"}}
            <select size='${f.values.length}' name='${f.name}' id='id_${f.name}'>
              {{each(idx2, ddlval) f.values}}
                <option value='${ddlval}'>${ddlval}</option>
              {{/each}}
            </select>
          {{else f.type == "textarea"}}
            <textarea id='id_${f.name}' name='${f.name}' rows='10' cols='40'>${f.value}</textarea>
          {{else}}
            <input id='id_${f.name}' name='${f.name}' type='${f.type}' value='${f.value}'/>
          {{/if}}

          {{if f.type != "hidden"}}
            <br />
          {{/if}}

        {{/each}}

        <input id='submitbutton' type='submit' />
      </form>
    </script>

    <!-- page content -->
    <div id="header"></div>
    <div id="content"></div>
  </body>
</html>
