<html>
  <head>
    <title>ArcGISRuntime Server</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="/static/favicon.png" type="image/png" />
    <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/mars.css" rel="stylesheet" type="text/css"/>
    <script src="/static/scripts/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="/static/scripts/underscore-min.js" type="text/javascript"></script>
    <script src="/static/scripts/jquery.tmpl.js" type="text/javascript"></script>
    <script src="/static/scripts/mars.js" type="text/javascript"></script>
    <script src="/static/scripts/gpHelpers.js" type="text/javascript"></script>
  </head>
  <body>

    <!-- page content -->
      <h2>Simplify</h2>
      <form class='aligned' action='simplify'>
      <label for="sr">Spatial Reference:</label>
      <input id="sr" type="text" name="SR" value="" size="75"/><br/><br/>
      <label for='id_geometries'>Geometries</label>
        <textarea id='id_geometries' name='geometries' rows="5" cols="55"></textarea><br/><br/>
        <input type="submit" value="Simplify (GET)" />
        <input type="hidden" name="f" value="json" />
        <input type="submit" onclick="this.form.method = 'post';" value="Simplify (POST)" /><br/>
      </form>
  </body>
</html>
