
html, body
{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  min-width: 780px;
}
.tundra .dijitSplitContainer-dijitContentPane, .tundra .dijitBorderContainer-dijitContentPane#navtable
{
  padding-bottom: 5px;
  margin: 0px 0px 3px;
  padding-top: 0px;
  border-bottom: #000 1px solid;
  border-top: #000 1px solid;
  background-color: #E5EFF7;
}
.tundra .dijitSplitContainer-dijitContentPane, .tundra .dijitBorderContainer-dijitContentPane#map
{
  overflow: hidden;
  border: solid 1px black;
  padding: 0;
}
#breadcrumbs
{
  padding-right: 0px;
  padding-left: 11px;
  font-size: 0.9em;
  font-weight: bold;
  padding-bottom: 5px;
  margin: 0px 0px 3px;
  padding-top: 3px;
}
#help
{
  padding-right: 11px;
  padding-left: 0px;
  font-size: 0.75em;
  padding-bottom: 5px;
  margin: 0px 0px 3px;
  padding-top: 3px;
}
