BODY
{
  padding-left: 0px;
  padding-right: 0px;
  background: #fff;
  padding-bottom: 0px;
  margin: 0px;
  padding-top: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  min-width: 780px;
}

HTML
{
  padding-left: 0px;
  padding-right: 0px;
  background: #fff;
  padding-bottom: 0px;
  margin: 0px;
  padding-top: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  min-width: 780px;
}

CODE
{
  font-size: 1.3em;
  font-family: serif;
}

TD
{
  padding-right: 11px;
  padding-left: 0px;
  font-size: 0.90em;
  padding-bottom: 5px;
  margin: 0px 0px 3px;
  padding-top: 3px;
}

H2
{
  margin-left: 0px;
  font-weight: bold;
  font-size: 1.2em;
}
H3
{
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 0px;
}
LI
{
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 3px;
  padding-top: 0px;
}

.rbody
{
  font-size: 0.9em;
  margin-left: 0px;
}

.jsonLink
{
  font-size: 0.6em;
  margin-left: 42px;
}

.jsonLink a 
{
  text-decoration:none;
  font-weight:bold;
  padding: 2px;
  border: 1px dotted #2181CF;
  vertical-align: middle;
}



.jsonLink a:hover 
{
  text-decoration:underline;
}

.whiteTd
{
  background-color: #FFFFFF;
}

.breadcrumbs
{
  height: 2.5em;
  line-height: 3em;
  padding-right: 10px;
  font-size: 0.8em;
  font-weight: bold;
  padding-bottom: 5px;
  margin: 0px 0px 10px;
  padding-top: 0px;
  border-top: 1px solid #D8E9F8;
  border-bottom: 1px solid #A5BFD4;
  background: #BACAD8; /* old browsers */
  background: -moz-linear-gradient(top, #D3DFE9 0%, #BACAD8 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D3DFE9), color-stop(100%,#BACAD8)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D3DFE9', endColorstr='#BACAD8',GradientType=0 ); /* ie */
  vertical-align: middle;
  color: #000;
}

.breadcrumbs * #text
{
  vertical-align: middle;
}

.breadcrumblinks
{
  float: left;
  margin-left:22px;
}

a
{
  color: #2A7ABB;
}

a:hover
{
  color: #34A1F7;
}

.breadcrumblinks a
{
  text-decoration: none;
}

.crumbchevron
{
  color: #888;
}

.breadcrumblinks a:hover
{
  text-decoration: underline;
}

.header
{
  font-size: 0.90em;
  padding-bottom: 5px;
  padding: 13px 22px 5px 22px;
  font-weight:bold;
  border-bottom: 1px solid #ddd;
  color: #334;
  background: #EBEDFE;
  font-family: Sans-Serif;
}

.userTable
{
  font-size: 0.80em;
}

.navTable
{
  padding-bottom: 5px;
  margin: 0px 0px 3px;
  padding-top: 0px;
  border-bottom: #000 1px solid;
  border-top: #000 1px solid;
  background-color: #E5EFF7;
}

.loginTable
{
  padding: 5px;
  margin: 10px 0px 3px;
  border: #000 1px solid;
  background-color: #E5EFF7;
}

.formTable
{
  padding: 5px;
  margin: 10px 0px 3px;
  border: #000 1px solid;
  background-color: #E5EFF7;
}

.infoTable
{
  font-size: 1.1em;
  padding: 5px;
  margin: 10px 0px 3px;
  border: #000 1px solid;
  background-color: #E5EFF7;
}

.adminNavTable
{
  padding-bottom: 5px;
  margin: 0px 0px 3px;
  padding-top: 0px;
  border-bottom: #000 1px solid;
  border-top: #000 1px solid;
  background-color: #F7EFE5;
}

.adminLoginTable
{
  padding: 5px;
  margin: 10px 0px 3px;
  border: #000 1px solid;
  background-color: #F7EFE5;
}

.adminFormTable
{
  padding: 5px;
  margin: 10px 0px 3px;
  border: #000 1px solid;
  background-color: #F7EFE5;
}

.adminInfoTable
{
  font-size: 1.1em;
  padding: 5px;
  margin: 10px 0px 3px;
  border: #000 1px solid;
  background-color: #F7EFE5;
}

.help
{
  padding-right: 11px;
  padding-left: 0px;
  font-size: 0.70em;
  padding-bottom: 5px;
  margin: 0px 0px 3px;
  padding-top: 3px;
}

.titlecell
{
  padding-right: 0px;
  padding-left: 0px;
  font-size: 1.0em;
  font-weight: bold;
  padding-bottom: 5px;
  margin: 0px 0px 3px;
  padding-top: 3px;
}

.srsMain
{
  font-size: 0.8em;
  font-weight: bold;
  border-top: #000 1px solid;
  background-color: #E5EFF7;
}

.srTitle
{
  font-size: 1.2em;
}

.srContent
{
  font-size: 1.0em;
}

.srLinks
{
  font-size: 0.8em;
}

.srInfo
{
  font-size: 0.8em;
  color: #494;
}

#content
{
  margin: 20px 30px 0px 42px;
}