

.jsontable {
	padding: 2px; 
	margin: 2px;
	border: #aaa 1px solid; 
	border-collapse: collapse;
}

.jsontable td {
	padding: 2px; 
	margin: 2px;
	border: #aaa 1px dotted; 
	background-color: white;
}

.gpmessagetable {
	padding: 5px; 
	margin: 5px;
	border: gray 1px solid; 
	border-collapse: collapse;
}

.gpmessagetable td {
	padding: 5px; 
	border: gray 1px dotted; 
}

.jsonkey
{
  vertical-align:top;
  color: #555;
}

.jsondoc
{
  border: 1px dotted #B1C6D8;
  float:left;
  background-color: #E4EBF1;
  padding: 10px 20px 10px 20px;
  color: #043862;
}

.nest_1
{
  	border: #000 0px dotted; 
}
.nest_1 td
{
  	border: #000 0px dotted; 
}

.nest_2
{
  width: 90%;
  margin-right: 10px;
  padding-right: 10px;
}

.nest_3
{
  width: 90%;
  margin-right: 10px;
  padding-right: 10px;
}

.nest_4
{
  width: 90%;
  margin-right: 10px;
  padding-right: 10px;
}

.json_string 
{
  color: #000;
}

.json_null
{
  color: #a44;
}

.json_boolean
{
  font-weight: bold;
  color: #55F;
}

.json_number
{
  color: #404;
}

form.aligned label
{
  font-size: 0.8em;
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 200px; 
	padding: 0; 
	margin: 5px 5px 0; /* set top margin same as form input - textarea etc. elements */
	text-align: right; 
}

br{
clear: left;
}

#submitbutton{
margin-left: 300px;
margin-top: 5px;
width: 90px;
}

.gpRequiredParameterName
{
  text-decoration:none;
  font-weight:bold;
  padding: 2px;
  border: 1px solid #2181CF;
  background-color: #D3DFE9;
  /*vertical-align: middle;*/
}

.gpParameterName
{
  text-decoration:none;
  font-weight:bold;
  padding: 2px;
  border: 1px dotted #2181CF;
  background-color: #D3DFE9;
  /*vertical-align: middle;*/
}

.hidden
{
  display: none;
}